:root {
  --primary: #222;
  --primary-alt: #282828;
  --secondary: #E5E4E3;
  --secondary-alt: #f1ece6;
  --tertiary: #b3b3b3;
  --tertiary-alt: #c4bdb5;
  --accent: #e9d09a;
  --accent-alt: #ffc400;
  --accent-red: #ff4828;
  --light: #f0f0f0;
  --white: #eaeaea;
  --dark: #121212;

  /* relative to root el, not parent el, & font-size 1rem = 10px on default browser */
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--dark);
  font-family: 'tk-itc-avant-garde-gothic-pro, futura-pt, Helvetica, Arial, sans-serif';
  font-weight: 300;
  font-style: normal;
  /* line-height: 1.5;
  font-size: 16px; */
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: var(--dark);
  line-height: 1.25;
  text-overflow: wrap;
  /* display: flex;
  width: 100%;
  height: auto;
  flex: 1 0 calc(100% * 5 / 12 - 0.5%);
  flex-direction: column;
  flex-wrap: wrap;
  text-align: start; */
}

h1 {
  font-size: 7.2rem;
  font-weight: medium;
  align-self: flex-end;
  color: var(--light);
}

h2 {
  font-size: 7.5rem;
  font-family: "futura-pt-condensed",sans-serif;
  -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2;
  border-right: var(--dark);
  text-align: right;
}

h3 {
  font-size: 5rem;
  font-family: "futura-pt", sans-serif;
  -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2;
  font-weight: bold;
  width: max-content;
  margin-bottom: var(--spacing-two); /* changes alignment */
  padding-bottom: var(--spacing-two);
}

h4 {
  font-size: 3.75rem;
  font-family: "futura-pt-condensed",sans-serif;
  -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: var(--spacing-two);
  padding-bottom: var(--spacing-two);
  text-align:start;
}

p {
  font-size: 2.5rem;
  font-family: "futura-pt-condensed",sans-serif;
  -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2;
  font-weight: 300;
  margin: 0 0 var(--spacing-three) var(--spacing-three);
  padding: 0 0 var(--spacing-three) var(--spacing-three);
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  place-self: flex-start space-between;
}

a {
  text-decoration: none;
  color: var(--light);
  align-items: end;
}

/* HEADER / NAV BAR STYLES START */

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  justify-content: space-between;
  background-image: url("../images/hero-bridge.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header a {
  margin: var(--spacing-one) 0 0 var(--spacing-five);
  padding-left: var(--spacing-three);
}

nav ul li a {
  font-weight: lighter;
  font-size: 3.55rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--accent-red);
  border-radius: 15px;
  text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */

/* HERO STYLES START */

.hero {
  justify-content: center;
  background-image: url("../images/hero-bridge.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  width: 100vw;
}

.hero-image {
  height: 100vh;
  background-image: url("../images/hero-bridge.jpg");
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* HERO STYLES END */

/* FOOTER STYLES START */

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  font-size: 2.5rem;
  font-family: "futura-pt-condensed",sans-serif;
  -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2;
  font-weight: 300;
  margin: 0 0 var(--spacing-three) var(--spacing-three);
  padding: 0 0 var(--spacing-three) var(--spacing-three);
}

/* END FOOTER STYLES */

/* STYLE ALL SECTION TAGS */
section {
  justify-content: space-between;
}

/* SECTION TITLE STYLES START */
.section-title {
  display: flex;
  flex: 1 0 calc(100% * 1 / 12 - 0.5%);
  width: min-content;
  min-height: inherit;
  align-self: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  color: var(--dark);
  text-orientation: upright;
  writing-mode: vertical-lr;
  place-content: flex-end;
}

.primary-border {
  border-color: var(--dark);
  border-right: var(--spacing-one) solid;
  height: inherit;
}

/* SECTION TITLE STYLES END */

/* ABOUT */

.about-me {
  padding-bottom: var(--spacing-three);
  padding-left: 2rem
}

.about-content {
  top: 0;
  vertical-align: top;
  display: flex;
  flex: 1 0 calc(100% * 5 / 12 - 0.5%);
  flex-wrap: wrap;
  color: var(--dark);
  width: fit-content;
  height: auto;
  align-content: flex-start;
  align-items: stretch;
  justify-content: space-between;
  line-height: 1.25;
  margin-right: var(--spacing-five);
  padding-right: var(--spacing-five);
}

.section-container {
  position: relative;
  width: 100%;
  height: auto;
  align-content: space-between;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--spacing-five);
  padding-right: var(--spacing-five);
}

.projects {
  margin-left: auto;
}

.image-container {
  position: relative;
  vertical-align: top;
  display: flex;
  width: auto;
  flex: 1 0 calc(100% * 5 / 12 - 0.5%);
  flex-direction: column;
  object-fit: contain;
  height: auto;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  padding-left: var(--spacing-five);
  padding-right: var(--spacing-five);
}

.text-container {
  top: 0;
  vertical-align: top;
  display: flex;
  height: fit-content;
  width: max-content;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--dark);
  place-content: flex-start space-between;
  padding-left: var(--spacing-one);
  padding-right: var(--spacing-one);
  text-align: flex-start;
}

.text-container li {
  display: flex;
  flex: 1 0 calc(100% * 3 / 12 - 0.5%);
  flex-wrap: wrap;
  width: fit-content;
  height: auto;
  column-gap: var(--spacing-three);
  align-items: flex-start;
  justify-content: space-between;
  line-height: 1.25;
  line-break: auto;
  word-break: break-word;
  /* vertical-align: top;
  height: fit-content;
  margin: auto var(--spacing-three) var(--spacing-one);
  padding-bottom: var(--spacing-five); */
}

.text-container p,
.text-container a {
  top: 0;
  vertical-align: top;
  line-height: 1.25;
  /* display: flex; */
  width: auto;
  height: fit-content;
  /* flex: 1 0 calc(100% * 5 / 12 - 0.5%);
  flex-wrap: wrap; */
  color: var(--dark);
  place-items: start;
  margin: auto var(--spacing-three) var(--spacing-one);
  text-align: start;
  overflow-wrap: break-word;
}

.about-image {
  display: flex;
  flex: 1 0 calc(100% * 5 / 12 - 0.5%);
  flex-direction: column;
  flex-wrap: wrap;
  width: max-content;
  max-width: 100%;
  height: fit-content;
  align-content: stretch;
  align-items: stretch;
}

.art-courses {
  top: 0;
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
  color: var(--dark);
  width: fit-content;
  height: auto;
  row-gap: var(--spacing-three);
  flex-wrap: wrap;
  place-content: flex-start space-between;
  padding-left: var(--spacing-one);
  padding-right: var(--spacing-one);
}

.art-courses ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  align-items: flex-start;
  place-content: space-between;
  overflow-wrap: break-word;
  column-gap: var(--spacing-three);
  line-break: auto;
  word-break: break-word;
}

.art-courses h4 {
  font-size: 3.75rem;
  font-family: "futura-pt-condensed",sans-serif;
  -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2;
  font-weight: 300;
  text-transform: uppercase;
  width: max-content;
}

.art-courses p {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  align-items: flex-start;
  align-content: center;
  justify-content: space-around;
  line-height: 1.25;
  line-break: auto;
  word-break: break-word;
}

.recognition {
  top: 0;
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
  color: var(--dark);
  height: auto;
  row-gap: var(--spacing-three);
  flex-wrap: wrap;
  place-content: flex-start space-between;
  padding-left: var(--spacing-one);
  padding-right: var(--spacing-one);
  margin-right: auto;
}

.recognition h4 {
  width: max-content;
  margin-left: var(--spacing-three);
  padding-left: var(--spacing-two);
}

.recognition ul,
.recognition li {
  font-size: 2.5rem;
  font-family: "futura-pt-condensed",sans-serif;
  -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  align-items: flex-start;
  place-content: space-between;
  overflow-wrap: break-word;
  column-gap: var(--spacing-three);
  line-break: auto;
  word-break: break-word;
}

.recognition p {
  font-size: 2.5rem;
  font-family: "futura-pt-condensed",sans-serif;
  -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  height: fit-content;
  align-items: flex-start;
  align-content: center;
  justify-content: space-around;
  line-height: 1.25;
  line-break: auto;
  word-break: break-word;
}

.recognition a {
  font-size: 2.5rem;
  font-family: "futura-pt-condensed",sans-serif;
  -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2;
  font-weight: 300;
  text-decoration: underline;
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  height: fit-content;
  line-height: 1.25;
  color: var(--dark);
  place-items: start;
  margin: 0 var(--spacing-three) var(--spacing-one);
  text-align: start;
  overflow-wrap: break-word;
}

/* ABOUT STYLES END */

/* PROJECTS */
.portfolio-item {
  top: 0;
  vertical-align: top;
  display: inline-flex;
  height: fit-content;
  width: fit-content;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--dark);
}

.portfolio-item a {
  position: relative;
  width: 100%;
  height: auto;
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  vertical-align: top;
  align-items: center;
  place-content: center space-between;
  object-fit: cover;
  overflow: hidden;
}

.portfolio-item a:link,
.portfolio-item a:visited {
  top: 0;
  width: 100%;
  height: 100%;
  align-content: space-between;
  align-items: stretch;
  transition: .5s ease;
  justify-content: space-between;
  color: var(--dark);
  margin-bottom: var(--spacing-five);
}

.portfolio-item a:link .gallery-info,
.portfolio-item a:visited .gallery-info {
  top: 0;
  width: 100%;
  height: 100%;
  align-content: center;
  align-items: center;
  transition: .5s ease;
  opacity: 0;
}

.portfolio-item a:hover .gallery-info,
.portfolio-item a:active .gallery-info {
  top: 0;
  width: 100%;
  height: 100%;
  align-content: space-between;
  align-items: stretch;
  transition: .5s ease;
  justify-content: space-between;
  color: var(--dark);
  opacity: 1;
}

.gallery img {
  opacity: 1;
  border: var(--spacing-two) solid var(--accent-red);
  width: 100%;
  height: fit-content;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
  transition: .5s ease;
  backface-visibility: hidden;
}

.gallery-info {
  position: absolute;
  background-color: var(--accent-red);
  opacity: 0;
  transition: .5s ease;
  text-align: center;
  vertical-align: top;
  align-items: center;
  align-content: center;
  padding: auto;
}

/* REACH OUT STYLES START */
.contact-info {
  align-content: stretch;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 3rem;
  font-family: "futura-pt-condensed",sans-serif;
  -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2;
  font-weight: 300;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-content: stretch;
  align-items: stretch;
  justify-content: space-around;
  vertical-align: top;
  text-align: start;
}

form {
  width: 100%;
  height: max-content;
  display: block;
  height: auto;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid var(--dark);
  font-family: "futura-pt-condensed",sans-serif;
  -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2;
  font-weight: 300;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--tertiary-alt);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: var(--secondary);
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: var(--secondary-alt);
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  background: var(--accent-red);
  color: var(--dark);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

.contact-form button:hover {
  color: var(--light);
  background: var(--primary-alt);
}

/* REACH OUT STYLES END */

/* UTILITIES */



/* FONT UTILS */
.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-tertiary {
  color: var(--tertiary);
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

.tk-futura-pt {
  font-family: "futura-pt",sans-serif;
  -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2;
}
.tk-futura-pt-condensed {
  font-family: "futura-pt-condensed",sans-serif;
  -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2;
}
.tk-canada-type-gibson {
  font-family: "canada-type-gibson",sans-serif;
  /* -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2; */
}

.tk-itc-avant-garde-gothic-pro {
  font-family: "itc-avant-garde-gothic-pro",sans-serif;
}

.tk-itc-avant-garde-gothic-pro-alt-capitals {
  font-family: "itc-avant-garde-gothic-pro",sans-serif;
  font-language-override: normal;
  font-kerning: auto;
  font-feature-settings: 'aalt', 'case' 0, 'dlig', 'dnom', 'kern', 'liga', 'numr', 'pnum', 'salt' 1, 'sinf', 'ss01', 'ss02', 'ss03', 'ss04', 'sups', 'tnum', 'unic';
  font-synthesis: style weight;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-feature-settings: 'aalt', 'case' 0, 'dlig', 'dnom', 'kern', 'liga', 'numr', 'pnum', 'salt' 1, 'sinf', 'ss01', 'ss02', 'ss03', 'ss04', 'sups', 'tnum', 'unic';
}

.tk-itc-avant-garde-gothic-pro-alt-capital-a {
  font-family: "itc-avant-garde-gothic-pro",sans-serif;
  font-language-override: normal;
  font-kerning: auto;
  font-feature-settings: 'aalt' 0,'case' 1, 'dlig', 'dnom' 0, 'frac' 0, 'kern', 'liga', 'numr' 0, 'ordn' 0, 'pnum', 'salt' 1, 'sinf' 0, 'ss01' 0, 'ss02', 'ss03' 0, 'ss04' 0,'sups' 0, 'tnum' 1, 'unic' 0;
  font-synthesis: style weight;
  font-variant-ligatures: discretionary-ligatures;
  font-variant-alternates: styleset(ss02) stylistic(1);
  -webkit-font-feature-settings: 'aalt' 0, 'case' 1, 'dlig', 'dnom' 0, 'frac' 0, 'kern', 'liga', 'numr' 0, 'ordn' 0, 'pnum', 'salt' 1, 'sinf' 0, 'ss01' 0, 'ss02', 'ss03' 0, 'ss04' 0,'sups' 0, 'tnum' 1, 'unic' 0;
}

/* BACKGROUND UTILS */
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-light {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

/* LAYOUT */
.container {
  width: 100%;
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
}

.container-fluid {
  width: 92%;
}

/* DISPLAY */
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

/* MARGIN/PADDING UTILS */

/* Margin - all sides */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: var(--spacing-one);
}

.m-2 {
  margin: var(--spacing-two);
}

.m-3 {
  margin: var(--spacing-three);
}

.m-4 {
  margin: var(--spacing-four);
}

.m-5 {
  margin: var(--spacing-five);
}

.m-auto {
  margin: auto;
}

/* Margin-bottom */

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: var(--spacing-one);
}

.mb-2 {
  margin-bottom: var(--spacing-two);
}

.mb-3 {
  margin-bottom: var(--spacing-three);
}

.mb-4 {
  margin-bottom: var(--spacing-four);
}

.mb-5 {
  margin-bottom: var(--spacing-five);
}

.mb-auto {
  margin-bottom: auto;
}

/* Margin-top */

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: var(--spacing-one);
}

.mt-2 {
  margin-top: var(--spacing-two);
}

.mt-3 {
  margin-top: var(--spacing-three);
}

.mt-4 {
  margin-top: var(--spacing-four);
}

.mt-5 {
  margin-top: var(--spacing-five);
}

.mt-auto {
  margin-top: auto;
}

/* Margin-right */

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: var(--spacing-one);
}

.mr-2 {
  margin-right: var(--spacing-two);
}

.mr-3 {
  margin-right: var(--spacing-three);
}

.mr-4 {
  margin-right: var(--spacing-four);
}

.mr-5 {
  margin-right: var(--spacing-five);
}

.mr-auto {
  margin-right: auto;
}

/* Margin-left */

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: var(--spacing-one);
}

.ml-2 {
  margin-left: var(--spacing-two);
}

.ml-3 {
  margin-left: var(--spacing-three);
}

.ml-4 {
  margin-left: var(--spacing-four);
}

.ml-5 {
  margin-left: var(--spacing-five);
}

.ml-auto {
  margin-left: auto;
}

/* Margin - x axis */

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.mx-3 {
  margin-right: var(--spacing-three);
  margin-left: var(--spacing-three);
}

.mx-4 {
  margin-right: var(--spacing-four);
  margin-left: var(--spacing-four);
}

.mx-5 {
  margin-right: var(--spacing-five);
  margin-left: var(--spacing-five);
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

/* Margin - y axis */

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-3 {
  margin-top: var(--spacing-three);
  margin-bottom: var(--spacing-three);
}

.my-4 {
  margin-top: var(--spacing-four);
  margin-bottom: var(--spacing-four);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* Padding - all sides */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: var(--spacing-one);
}

.p-2 {
  padding: var(--spacing-two);
}

.p-3 {
  padding: var(--spacing-three);
}

.p-4 {
  padding: var(--spacing-four);
}

.p-5 {
  padding: var(--spacing-five);
}

.p-auto {
  padding: auto;
}

/* padding-bottom */

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: var(--spacing-one);
}

.pb-2 {
  padding-bottom: var(--spacing-two);
}

.pb-3 {
  padding-bottom: var(--spacing-three);
}

.pb-4 {
  padding-bottom: var(--spacing-four);
}

.pb-5 {
  padding-bottom: var(--spacing-five);
}

.pb-auto {
  padding-bottom: auto;
}

/* padding-top */

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: var(--spacing-one);
}

.pt-2 {
  padding-top: var(--spacing-two);
}

.pt-3 {
  padding-top: var(--spacing-three);
}

.pt-4 {
  padding-top: var(--spacing-four);
}

.pt-5 {
  padding-top: var(--spacing-five);
}

.pt-auto {
  padding-top: auto;
}

/* padding-right */

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: var(--spacing-one);
}

.pr-2 {
  padding-right: var(--spacing-two);
}

.pr-3 {
  padding-right: var(--spacing-three);
}

.pr-4 {
  padding-right: var(--spacing-four);
}

.pr-5 {
  padding-right: var(--spacing-five);
}

.pr-auto {
  padding-right: auto;
}

/* padding-left */

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: var(--spacing-one);
}

.pl-2 {
  padding-left: var(--spacing-two);
}

.pl-3 {
  padding-left: var(--spacing-three);
}

.pl-4 {
  padding-left: var(--spacing-four);
}

.pl-5 {
  padding-left: var(--spacing-five);
}

.pl-auto {
  padding-left: auto;
}

/* padding - x axis */

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.px-3 {
  padding-right: var(--spacing-three);
  padding-left: var(--spacing-three);
}

.px-4 {
  padding-right: var(--spacing-four);
  padding-left: var(--spacing-four);
}

.px-5 {
  padding-right: var(--spacing-five);
  padding-left: var(--spacing-five);
}

.px-auto {
  padding-right: auto;
  padding-left: auto;
}

/* Padding - y axis */

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.py-3 {
  padding-top: var(--spacing-three);
  padding-bottom: var(--spacing-three);
}

.py-4 {
  padding-top: var(--spacing-four);
  padding-bottom: var(--spacing-four);
}

.py-5 {
  padding-top: var(--spacing-five);
  padding-bottom: var(--spacing-five);
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.col-auto {
  flex-grow: 1;
}

.col-1 {
  flex: 1 0 calc(100% * 1 / 12 - 0.5%);
}

.col-2 {
  flex: 1 0 calc(100% * 2 / 12 - 0.5%);
}

.col-3 {
  flex: 1 0 calc(100% * 3 / 12 - 0.5%);
}

.col-4 {
  flex: 1 0 calc(100% * 4 / 12 - 0.5%);
}

.col-5 {
  flex: 1 0 calc(100% * 5 / 12 - 0.5%);
}

.col-6 {
  flex: 1 0 calc(100% * 6 / 12 - 0.5%);
}

.col-7 {
  flex: 1 0 calc(100% * 7 / 12 - 0.5%);
}

.col-8 {
  flex: 1 0 calc(100% * 8 / 12 - 0.5%);
}

.col-9 {
  flex: 1 0 calc(100% * 9 / 12 - 0.5%);
}

.col-10 {
  flex: 1 0 calc(100% * 10 / 12 - 0.5%);
}

.col-10-25 {
  flex: 1 0 calc(100% * 10.25 / 12 - 0.5%);
}

.col-11 {
  flex: 1 0 calc(100% * 11 / 12 - 0.5%);
}

.col-12 {
  flex: 1 0 100%;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    position: relative;
    width: 100vw;
    height: 100vh;
    align-items: baseline;
    align-content: center;
    justify-content: space-around;
  }

  header a {
    margin: 0;
    padding: 0;
  }

  footer {
    font-size: 1.5rem;
  }

  h1 {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: medium;
    margin-top: var(--spacing-one);
    text-shadow: 0 0 1rem #000;
  }

  h2 {
    font-size: 3.6rem;
    font-family: "futura-pt-condensed",sans-serif;
    -webkit-font-feature-settings: "salt" 2;
    font-feature-settings: "salt" 2;
    border-right: var(--dark);
    text-align: right;
  }

  .section-title {
    flex: 0 0 calc(100% * 0 / 12 - 0.5%);
    height: inherit;
  }

  nav ul li a {
    margin: 0;
    padding: 0;
    font-size: 1.55rem;
    text-shadow: 0 0 1rem #000;
  }

  .hero,
  .hero div {
    height: 0%;
    width: 0%;
  }

  h3 {
    display: flex;
    font-size: 2rem;
    margin-bottom: var(--spacing-two); /* changes alignment */
    padding-bottom: var(--spacing-two);
  }

  h4 {
    display: flex;
    font-size: 1.75rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: var(--spacing-three);
    margin-bottom: var(--spacing-one);
  }

  p,
  .about-me {
    font-size: 1.3rem;
    padding: 0;
    margin-left: auto;
  }

  .section-container {
    position: relative;
    justify-content: start;
    margin-left: var(--spacing-two);
  }

  .image-container {
    max-width: 87vh;
    align-items: center;
    align-content: space-between;
    padding-left: var(--spacing-three);
    padding-right: var(--spacing-three);
  }

  .about-image {
    max-width: 80vh;
    height: fit-content;
    align-content: stretch;
    align-items: stretch;
    margin-left: auto;
  }

  .about-content {
    margin-left: var(--spacing-five);
    padding-left: var(--spacing-four);
    margin-right: var(--spacing-five);
    padding-right: var(--spacing-four);
    align-items: flex-start;
    width: fit-content;
    justify-content: space-between;
  }

  .about-md {
    position: absolute;
    left: calc(100% * 6 / 12 - 0.5%);
    margin-top: var(--spacing-three);
  }

  .text-container {
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    margin-right: var(--spacing-one);
  }

  .text-container li {
    column-gap: var(--spacing-one);
    align-content: flex-start;
    align-items: baseline;
  }

  .text-container p,
  .text-container a {
    line-height: 1.25;
    width: auto;
    height: fit-content;
    margin: 0 var(--spacing-four) var(--spacing-one) var(--spacing-one);
    padding-right: var(--spacing-two);
    text-align: start;
    overflow-wrap: break-word;
  }

  .art-courses h4 {
    position: absolute;
    font-size: 1.75rem;
    width: fit-content;
    top: calc(100% * 2.15 / 12 - 0.5%);
    left: calc(100% * 6 / 12 - 0.5%);
  }

  .art-courses ul {
    position: absolute;
    column-gap: var(--spacing-one);
    top: calc(100% * 2.85 / 12 - 0.5%);
    left: calc(100% * 6 / 12 - 0.5%);
  }

  .recognition {
    top: 0;
    vertical-align: top;
    display: flex;
    flex-wrap: wrap;
    color: var(--dark);
    height: auto;
    row-gap: var(--spacing-three);
    flex-wrap: wrap;
    place-content: flex-start space-between;
    padding-left: var(--spacing-one);
    padding-right: var(--spacing-one);
  }

  .recognition h4 {
    width: max-content;
    margin-top: var(--spacing-four);
    margin-left: var(--spacing-two);
    padding-left: var(--spacing-two);
  }

  .recognition ul,
  .recognition li {
    font-size: 1.5rem;
    font-family: "futura-pt-condensed",sans-serif;
    -webkit-font-feature-settings: "salt" 2;
    font-feature-settings: "salt" 2;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-wrap: break-word;
    column-gap: var(--spacing-three);
    line-break: auto;
    word-break: break-word;
  }

  .recognition p {
    font-size: 1.5rem;
    font-family: "futura-pt-condensed",sans-serif;
    -webkit-font-feature-settings: "salt" 2;
    font-feature-settings: "salt" 2;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    height: fit-content;
    margin-left: var(--spacing-four);
    align-items: flex-start;
    align-content: center;
    line-height: 1.25;
    line-break: auto;
    word-break: break-word;
  }

  .recognition a {
    font-size: 1.5rem;
    font-family: "futura-pt-condensed",sans-serif;
    -webkit-font-feature-settings: "salt" 2;
    font-feature-settings: "salt" 2;
    font-weight: 300;
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    height: fit-content;
    line-height: 1.25;
    color: var(--dark);
    place-items: start;
    justify-content: baseline;
    margin: 0 var(--spacing-three) var(--spacing-one);
    text-align: start;
    overflow-wrap: break-word;
  }

  .portfolio-item {
    top: 0;
    vertical-align: top;
    display: inline-flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--dark);
  }

  .portfolio-item a {
    position: relative;
    width: 100%;
    height: auto;
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    vertical-align: top;
    align-items: center;
    place-content: center space-between;
    object-fit: cover;
    overflow: hidden;
  }

  .portfolio-item a:link,
  .portfolio-item a:visited {
    top: 0;
    width: 100%;
    height: 100%;
    align-content: space-between;
    align-items: stretch;
    transition: .5s ease;
    justify-content: space-between;
    color: var(--dark);
    margin-bottom: var(--spacing-five);
  }

  .portfolio-item a:link .gallery-info,
  .portfolio-item a:visited .gallery-info {
    top: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    transition: .5s ease;
    opacity: 0;
  }

  .portfolio-item a:hover .gallery-info,
  .portfolio-item a:active .gallery-info {
    top: 0;
    width: 100%;
    height: 100%;
    align-content: space-between;
    align-items: stretch;
    transition: .5s ease;
    justify-content: space-between;
    color: var(--dark);
    opacity: 1;
  }

  .gallery img {
    opacity: 1;
    border: var(--spacing-two) solid var(--accent-red);
    width: 100%;
    height: fit-content;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .gallery-info {
    position: absolute;
    background-color: var(--accent-red);
    opacity: 0;
    transition: .5s ease;
    text-align: center;
    vertical-align: top;
    align-items: center;
    align-content: center;
    padding: auto;
  }

  .contact-info {
    align-content: stretch;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 2rem;
    font-family: "futura-pt-condensed",sans-serif;
    -webkit-font-feature-settings: "salt" 2;
    font-feature-settings: "salt" 2;
    font-weight: 300;
  }

  .contact-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-content: stretch;
    align-items: stretch;
    justify-content: space-around;
    vertical-align: top;
    text-align: start;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    width: 100vw;
  }

  header {
    width: max-content;
  }

  footer {
    font-size: 1rem;
  }

  h2 {
    font-size: 3.6rem;
    font-family: "futura-pt-condensed",sans-serif;
    -webkit-font-feature-settings: "salt" 2;
    font-feature-settings: "salt" 2;
    border-right: var(--dark);
    text-align: right;
  }

  nav ul li a {
    margin: 0;
    padding: 0;
    font-size: 1.55rem;
    text-shadow: 0 0 1rem #000;
  }

  .hero,
  .hero div {
    height: 0%;
    width: 0%;
  }

  h3 {
    display: flex;
    font-size: 2rem;
    margin-bottom: var(--spacing-two); /* changes alignment */
    padding-bottom: var(--spacing-two);
  }

  h4 {
    display: flex;
    font-size: 1.75rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: var(--spacing-three);
    margin-bottom: var(--spacing-one);
  }

  p,
  .about-me {
    font-size: 1.3rem;
    padding: 0;
    margin-left: var(--spacing-five);
  }

  .projects {
    margin-right: auto;
  }

  .section-container {
    position: relative;
    justify-content: space-between;
    margin-left: var(--spacing-two);
  }

  .image-container {
    flex: 1 0 calc(100% * 10 / 12 - 0.5%);
    max-width: fit-content;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
  }

  .about-image {
    max-width: 100vh;
    height: fit-content;
    align-content: stretch;
    align-items: stretch;
  }

  .about-content {
    flex: 1 0 calc(100% * 10 / 12 - 0.5%);
    padding-left: var(--spacing-four);
    padding-right: var(--spacing-four);
    align-items: flex-start;
    width: fit-content;
    justify-content: start;
  }

  .about-tab {
    left: var(--spacing-five);
    margin-top: var(--spacing-five);
  }

  .text-tab {
    justify-content: space-between;
  }

  .text-tab h4,
  .text-tab li {
    margin-left: var(--spacing-five);
  }

  .hist-tab h4,
  .hist-tab li {
    margin-left: var(--spacing-four);
  }

  .text-container {
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    margin-right: var(--spacing-one);
  }

  .text-container li {
    justify-content: space-between;
    column-gap: var(--spacing-one);
    align-content: flex-start;
    align-items: baseline;
  }

  .text-container p,
  .text-container a {
    line-height: 1.25;
    width: auto;
    height: fit-content;
    margin-left: 0;
    padding-right: var(--spacing-two);
    text-align: start;
    overflow-wrap: break-word;
  }

  .art-courses h4 {
    position: relative;
    left: 0;
    margin-left: var(--spacing-five);
    font-size: 1.75rem;
    width: fit-content;
  }

  .art-courses ul {
    position: relative;
    margin-left: var(--spacing-five);
    left: 0;
    column-gap: var(--spacing-one);
  }

  .contact-info {
    margin-right: auto;
    align-content: stretch;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 2rem;
    font-family: "futura-pt-condensed",sans-serif;
    -webkit-font-feature-settings: "salt" 2;
    font-feature-settings: "salt" 2;
    font-weight: 300;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}
